navbar-brand{
    color: blue;


}
h1{
    color: rgb(8, 8, 70);
    font-weight: bold;
}

h2{
    color: rgb(8, 8, 70);
    font-weight: bold;
    width: fit-content;
}

p{
    width: fit-content;
}
h4{
    color: rgb(8, 8, 70);
    font-weight: 900;
    font-size: medium;
}


